*{
    margin: 0;
    padding: 0;
}

.header {
border: 1px solid black;  
background-color: #F57224;  
width: 100%;
}

.menu {

    font-size: 20px;
   text-align: right;
   
}

.menu a {
    color: white;
    padding: 0px 20px;
}

.searchbar h1{
    text-align: left;
}


.searchbar{
    text-align: center;
    margin-bottom:10px;
}

.searchbar input{
    width: 400px;
    height: 30px;
}

.container {
    height: 500px;
    width: 100%;
}


footer {
    border: 2px solid black;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

.footer-info ul {
    margin-top: 20px;
    list-style-type: none;
    
}


.footer-account ul {

    margin-top: 20px;
    list-style-type: none;
}

.footer-about ul {

    margin-top: 20px;
    list-style-type: none;
}


.footer-info ul li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    
}


.footer-account ul li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.footer-about ul li p {
    text-decoration: none;
    color: black;
    font-size: 25px;
}


